.table {
  padding: 30px;

  h1 {
    font-family: Arial;
    font-size: 25px;

  }
  .table-wrapper {
    width: 100%;
    overflow-x: scroll;
  }
  table {
    width: 100%;

    tr {
      th {
        background: rgb(46, 46, 168);
        color: white;
        padding: 5px;
        font-size: 12px;

        &.fio {
          width: 170px;

          >div {
            display: flex;
            align-items: center;
          }

          .filter {
            width: 20px;
            height: 20px;
            margin-right: 5px;

            img {
              width: 20px;
              height: 20px;
            }
          }

          .sort {
            width: 20px;
            height: 20px;
            flex-grow: 1;
            position: relative;

            &.two-arrow:before {
              content: '';
              display: block;
              position: absolute;
              border-bottom: 5px solid white;
              border-top: 5px solid transparent;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              top: -3px;
              right: 2px;
            }

            &.two-arrow:after {
              content: '';
              display: block;
              position: absolute;
              border-top: 5px solid white;
              border-bottom: 5px solid transparent;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              bottom: -3px;
              right: 2px;
            }

            &.down-arrow:after {
              content: '';
              display: block;
              position: absolute;
              border-top: 5px solid white;
              border-bottom: 5px solid transparent;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              bottom: -3px;
              right: 2px;
            }

            &.up-arrow:before {
              content: '';
              display: block;
              position: absolute;
              border-bottom: 5px solid white;
              border-top: 5px solid transparent;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              top: -3px;
              right: 2px;
            }
          }
        }

        &.func {
          text-align: center;
        }
      }

    }

  }
}